


.contact {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--backgroun);
}
.contact .cont {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}
