


.skills {
    min-height: 450px;
    background-image: url("../../assets/images/skills.jpg");
    background-size: cover;
    position: relative;
}
.skills::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 70%);
}
.skills .container .text {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--adress-color);
}
.skills .container .text h3 {
    font-size: 32px;
    padding: 25px 10px;
    font-weight: bold;
    letter-spacing: -2px;
}
.skills .container .text p {
    color: #999;
    font-size: 12px;
    font-weight: 700;
}
.skills .container .circles-box {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.skills .container .precent {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.skills .container .precent svg {
    position: relative;
    width: 120px;
    height: 120px;
    transform: rotate(90deg);
}
.skills .container .precent svg circle {
    position: relative;
    width: 120px;
    height: 120px;
    stroke-width: 4;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    fill: none;
    stroke-linecap: round;
    transform: translate(10px , 10px);
}
.skills .container .precent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: var(--adress-color);
}
.skills .container .precent svg circle:nth-child(2) {
    stroke-dashoffset: calc(314 - (314 * var(--a)));
    stroke: var(--main-color);
}
.skills .container .precent .number {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills .container .precent h4 {
    position: absolute;
    top: 30px;
    font-size: 32px;
    font-weight: bold;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills .container .precent h4 span {
    font-size: 18px;
    color: var(--main-color);
}
.skills .container .precent .number h5 {
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
}