

.main-head {
    padding-top: 20px;
    text-align: center;
    position: relative;
}
.main-head h6 {
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 20px;
}
.main-head h2 {
    padding-bottom: 20px;
    font-size: 30px;
}
.main-head h2::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 200px;
    background-color: var(--main-color);
    z-index: 2;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    
}
.main-head p {
    padding-top: 25px;
    color: var(--secondary-color);
    padding-left: 20px;
    padding-right: 20px;
}
